<a href="https://colab.research.google.com/github/soumitmondal17/Python-Power-BI/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing required libraries**

In [1]:
import pandas as pd
import numpy as np

**Defining the file path using Pandas**

In [2]:
file_path='/content/Dataset Sample.xlsx'
df=pd.read_excel(file_path,sheet_name='Candidate Details')

In [3]:
df.head(5)

,Candidate ID,Date of Birth,Justification,Location,Candidate Name,HR ID,Offer Release Date,Date of Joining,Candidate Status,Level,Final Channel
0,297712.0,1984-10-26,New Position,SURAT,Varunan,703038,2024-04-21,2024-05-06,Joined,I5,HEALTH
1,856925.0,1999-08-18,New Position,PUNE,Satya,703038,2024-01-27,2024-03-07,Joined,I5,HEALTH
2,304686.0,1990-07-04,New Position,PUNE,C,710064,2024-11-20,2024-12-21,Joined,I5,ACCOUNTS
3,782886.0,1993-06-10,New Position,PUNE,Aby,700204,2024-01-18,2024-03-04,Joined,I5,CORPORATE
4,967264.0,1981-03-26,New Position,MUMBAI,Nitin,710064,2024-09-25,2024-10-16,Joined,I5,ACCOUNTS

**Checking for missing values column by column**

In [4]:
missing_data=df.isnull()
for col in missing_data.columns.to_list():
  print(missing_data[col].value_counts())
  print(' ')

Candidate ID
False    287
True       4
Name: count, dtype: int64

Date of Birth
False    291
Name: count, dtype: int64

Justification
False    291
Name: count, dtype: int64

Location
False    291
Name: count, dtype: int64

Candidate Name
False    291
Name: count, dtype: int64

HR ID
False    291
Name: count, dtype: int64

Offer Release Date
False    291
Name: count, dtype: int64

Date of Joining
False    291
Name: count, dtype: int64

Candidate Status
False    291
Name: count, dtype: int64

Level
False    291
Name: count, dtype: int64

Final Channel
False    291
Name: count, dtype: int64

**Creating a function that will generate a random Candidate ID**

In [5]:
def generate_4_digit():
  return np.random.randint(1000,9999)
#Replacing the missing Candidate IDs with random digits.
df['Candidate ID']=df['Candidate ID'].apply(lambda x:generate_4_digit() if pd.isna(x) else x )

**Validating if the above code was executed succesfully or not**

In [6]:
print(df['Candidate ID'].isnull().sum())

0

**Exploratory Data Analysis**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Candidate ID        291 non-null    float64
 1   Date of Birth       291 non-null    datetime64[ns]
 2   Justification       291 non-null    object
 3   Location            291 non-null    object
 4   Candidate Name      291 non-null    object
 5   HR ID               291 non-null    int64
 6   Offer Release Date  291 non-null    datetime64[ns]
 7   Date of Joining     291 non-null    datetime64[ns]
 8   Candidate Status    291 non-null    object
 9   Level               291 non-null    object
 10  Final Channel       291 non-null    object
dtypes: datetime64[ns](3), float64(1), int64(1), object(6)
memory usage: 25.1+ KB

**Checking for duplicate values**

In [8]:
duplicates=df[df.duplicated(subset='Candidate ID')]
print(f'Total duplicated rows in Candidate ID column = {duplicates.shape[0]} ')

Total duplicated rows in Candidate ID column = 7

**Dropping duplicate values**

In [9]:
df.drop_duplicates(subset='Candidate ID',inplace=True)

**Validating if the above code was executed succesfully or not**

In [10]:
duplicates=df[df.duplicated(subset='Candidate ID')]
print(f'Total duplicated rows in Candidate ID column = {duplicates.shape[0]} ')

Total duplicated rows in Candidate ID column = 0

**Saving the file for further analysis**

In [12]:
df.to_excel('HR Analysis_RGI.xlsx',index=False)